.switch-btn{
    cursor: pointer;
    padding: 0 10px;
    margin: 0;
    height: 60px;
    width: 100%;
    word-wrap: break-word;
    border-bottom: 2px solid red;
    border-right: 2px solid red;
    font-size: 14px;
    font-weight: 700;
    white-space: normal;
    border-radius: 40px/40px 0;
}