.chapter__fitness-item{
    cursor: pointer;
    margin: 0;
    padding: 0 30px;
    height: 40px;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    white-space: normal;
    border: none;
    background-color: #fff;
}