.fitness-main {
    background-image: radial-gradient(closest-side, rgba(0, 1, 54, 0.4), #000136);
    justify-content: space-between;
    align-items: flex-start;
    background-position: center;
    height: 100vh;
    position: relative;
}

.fitness-main::before {
    content: "";
    background-image: url(../../media/FIT_HEADER_thumbnail.png);
    opacity: 0.5;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    left: 0;
    bottom: 0;
    right: 0;
}

.fitness-slogan{
    margin: 80px 3%;
    width: 30%;
    text-shadow: 1px 1px 5px #000000;
}

.fitness-nav-line-title {
    color: #ffffff;
    display: flex;
    align-items: flex-start;
}

.fitness-anchor {
    color: #ffffff;
}

.fitness-nav-line {
    background: linear-gradient(to right, rgba(0, 1, 37, 100%), rgba(37, 0, 67, 0%));
    margin-bottom: 80px;
    z-index: 1;
}




@media screen and (max-width: 1023px) {
    .fitness-main {
        max-width: 1024px;
        min-height: 560px;
    }

    .fitness-main::before {
    }

    .fitness-slogan {
        width: 35%;

    }
}

@media screen and (max-width: 767px) {
    .fitness-main::before {
        max-height: 850px;
    }
}

@media screen and (max-width: 480px) {
    .fitness-slogan {
        width: 90%;
        align-self: center;
    }

    .fitness-main::before {
        max-height: 800px;
    }

    .fitness-nav-line {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 380px) {
    .fitness-main::before {
        max-height: 667px;
    }
}