.aboutUs_spa{
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
}
.about-spa-list{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    gap: 20px;
}

.about-spa-item{
    background-color: #D9D9D9;
    width: 260px;
    aspect-ratio: 16/9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.about-spa-item_active{
    background-color: #afafaf;
}

.about-spa-icon{
    width: 120px;
    height: 100px;
}

.about-spa-description{
    font-family: 'AlegreyaSC', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
}

.aboutUs_spa{
    background: linear-gradient(to bottom, rgb(6, 40, 0, 100%), rgb(209, 209, 209, 100%));
}
.about-spa-cards{
    width: 95%;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-gap: 20px;
}

.about-spa-card{
    width: 282px;
    background-color: #d9d9d9;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-spa-card-name{
    font-family: 'AlegreyaSC', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 14px;
}

.about-spa-card-img{
    width: 100%;
    aspect-ratio: 9/9;
    object-position: 50% 50%;
    object-fit: contain;
    background-color: #d9d9d9;
}

.about-spa-arrow{
    align-items: center;
    justify-content: center;
    display: none;
    width: 70px;
}

.add-spa-cards{
    font-family: 'AlegreyaSC', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #000000;
    background-color: rgb(0, 0, 0, 0);
    border: 1px solid #000000;
    margin: 50px 0;
    transition-duration: 0.5s;
}

@media screen and (max-width: 1180px) {
    .about-spa-item:nth-child(-n+2){
        display: none;
    }

    .about-spa-arrow{
        display: flex;
    }

    .about-spa-cards{
        grid-template-columns: repeat(auto-fit, 260px);
    }
    
    .about-spa-card{
        width: 260px;
    }
}

@media screen and (max-width: 1080px) {
    .about-spa-item:nth-child(-n+3){
        display: none;
    }

    .about-spa-arrow{
        display: flex;
    }
}

@media screen and (max-width: 780px) {
    .about-spa-item:nth-child(-n+4){
        display: none;
    }

    .about-spa-arrow{
        display: flex;
    }
}