.news{
    padding: 20px 0 0 20px;
    margin: 0 0 0 35px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    flex-grow: 1;
    background-color: #555555;
    border-radius: 30px;
}